{% extends 'mailing/base.html' %}

{% block content %}
{% include 'mailing/includes/inc_carousel.html' %}

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header"><h5 class="card-title">Статистика сервиса</h5></div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td>Количество рассылок</td>
                            <td>{{ mailing_count }}</td>
                        </tr>
                        <tr>
                            <td>Количество активных рассылок</td>
                            <td>{{ active_mailing_count }}</td>
                        </tr>
                        <tr>
                            <td>Количество уникальных клиентов</td>
                            <td>{{ clients_count }}</td>
                    </table>
                    <div class="card-footer"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- START THE FEATURETTES -->
    {% for post in three_posts %}
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">{{ post.title }}
            </h2>
            <p class="lead">{{ post.content }}</p>
        </div>
        <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                 height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                <rect width="100%" height="100%" fill="#eee"/>
                <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
            </svg>

        </div>
    </div>
    {% endfor %}
    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
{% endblock %}