{% extends 'mailing/base.html' %}

{% block content %}
<div class="mx-auto" style="width: 200px;">
    <div class="col-12 mb-5">
        <a class="btn" role="button" data-bs-toggle="button"></a>
    </div>
</div>

<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-header"><h5 class="card-title">Статистика рассылок</h5></div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <td>Количество рассылок</td>
                        <td>{{ all }}</td>
                    </tr>
                    <tr>
                        <td>Количество успешных рассылок</td>
                        <td>{{ success }}</td>
                    </tr>
                    <tr>
                        <td>Количество неудачных рассылок</td>
                        <td>{{ error }}</td>
                </table>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}