{% extends 'mailing/base.html' %}

{% block content %}
<div class="mx-auto" style="width: 200px;">
    <div class="col-12 mb-5">
        <a class="btn btn-outline-dark" href="{% url 'mailing:message_create' %}">Создать сообщение</a>
    </div>
</div>


<div class="row row-cols-1 row-cols-md-6 mb-6 text-center">
    {% for object in object_list %}
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Сообщение {{ object.pk }}</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Тема: {{ object.title }}</li>
                    <li>Текст: {{ object.text_body }}</li>
                </ul>
            </div>

            <div class="card-footer">
                <div class="btn-group">
                    <a class="btn btn-sm btn-outline-dark" href="{% url 'mailing:message_update' object.pk %}">Изменить</a>
                    <a class="btn btn-sm btn-outline-dark" href="{% url 'mailing:message_delete' object.pk %}">Удалить</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endblock %}